<ion-list color="dark-light">
  <ion-item>
    <ion-icon name="person-circle"></ion-icon>
    <ion-label (click)="sendOption('perfil')" class="ion-padding">Perfil</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="person-add"></ion-icon>
    <ion-label (click)="sendOption('ingresos')" class="ion-padding">Ingresos</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="person-remove"></ion-icon>
    <ion-label (click)="sendOption('gastos')" class="ion-padding">Gastos</ion-label>
  </ion-item>


</ion-list>