<ion-content [fullscreen]="true" color="light">
  <!-- <app-header></app-header> -->
  <ion-item color="dark-light">
 
  </ion-item> 

  <ion-card class="perfil2">
    
    <ion-card-header color="dark-light">

      <ion-fab vertical="top" horizontal="end" slot="">
        <ion-fab-button color="light" size="small" (click)="presentPopover($event)">
          <ion-icon size="small" name="settings-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-list lines="none" class="item-trns">
        <ion-item color="dark-light">
          <ion-avatar slot="start" style="width: 90px; height: 90px;">
            <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
            <img src="../../assets/img/avatar-man.svg">
          </ion-avatar>
          <ion-label>
            <h1 class="text-perfil">{{ conductor.perfil.nombre }} {{ conductor.perfil.apellidoPaterno }}</h1>
            <p class="text-perfil">{{ conductor.vehiculo.marca}} {{ conductor.vehiculo.modelo }}</p>
            <p class="text-perfil">{{ conductor.vehiculo.patente }}</p>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content color="light" style="width: 100%; padding-left: 0px; padding-right: 0px;">

      <ion-list lines="none">
        <ion-item>
          <div class="circle first">
            <h2>{{ rentabilidad?.numPasajeros }}</h2>
            <ion-label>Pasajeros</ion-label>
          </div>

          <div class="circle second">
            <h2>{{ rentabilidad?.totalIngresos }}</h2>
            <ion-label>Ingresos</ion-label>
          </div>

          <div class="circle third">
            <h2>${{ sumaGastos }}</h2>
            <ion-label>Gastos</ion-label>
          </div>

        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="list-card2">

    <ion-card-header>
      <ion-segment ([ngModel])="segmentModel" (ionChange)="segmentChanged($event)" value="{{segmentModel}}">
        <ion-segment-button value="ingresos">
          <ion-label>Ingresos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="gastos">
          <ion-label>Gastos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>

    <ion-card-content color="light" *ngIf="segmentModel === 'ingresos'">
      <ion-list lines="full">
        <ion-item>
          <ion-icon name="ellipse" color="success" slot="start"></ion-icon>
          <ion-label class="label-list" slot="start">
            8:30 - 100%
          </ion-label>
          <ion-label color="primary" class="price">$2800</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="ellipse" color="warning" slot="start"></ion-icon>
          <ion-label class="label-list" slot="start">
            9:14 - 50%
          </ion-label>
          <ion-label color="primary" class="price">$1400</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="ellipse" color="danger" slot="start"></ion-icon>
          <ion-label class="label-list" slot="start">
            10:00 - 25%
          </ion-label>
          <ion-label color="primary" class="price">$700</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content color="light" *ngIf="segmentModel === 'gastos'">
      <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false" line="full">
        <ion-item *ngFor="let gasto of listGastos">
          <ion-icon name="ellipse" color="{{ gasto.color }}" style="margin-right: 20px;"></ion-icon>
          <ion-label class="label-list">
            {{ gasto.nombre }}
          </ion-label>
          <ion-input type="number" [(ngModel)]="gasto.valor" value="{{ gasto.valor }}" color="primary" style="text-align: right; margin-right: 20px;" readonly="{{ gasto.lock }}" (change)="calculaGastos()"></ion-input>
          <ion-icon name="lock-closed" size="small" style="margin-right: 20px;" (click)="toogleLock(gasto)" *ngIf="gasto.lock" ></ion-icon>
          <ion-icon name="lock-open-outline" size="small" style="margin-right: 20px;" (click)="toogleLock(gasto)" *ngIf="!gasto.lock"></ion-icon>

          <ion-reorder></ion-reorder>
        </ion-item>
      </ion-reorder-group>

      
    </ion-card-content>
  </ion-card>

</ion-content>