<ion-content [fullscreen]="true" color="light">
  <!-- <app-header></app-header> -->
  <ion-item color="dark-light">
 
  </ion-item> 
  
  <ion-card>
    <ion-card-header color="blue-light" >
      <ion-card-title>
        Ingresos/gastos diario
      </ion-card-title>
    </ion-card-header>
      <ion-card-content class="ion-padding">
        <canvas style="width: 150px; height: 100px;" #diarios></canvas>
      </ion-card-content>
   </ion-card>

   <ion-card>
    <ion-card-header color="calipse" >
      <ion-card-title>
        Gastos Mensuales
      </ion-card-title>
    </ion-card-header>
      <ion-card-content class="ion-padding">
        <canvas #chartGastos></canvas>
      </ion-card-content>
   </ion-card>

   <ion-card>
    <ion-card-header color="turquesa" >
      <ion-card-title>
        Ingresos mensuales
      </ion-card-title>
    </ion-card-header>
      <ion-card-content class="ion-padding">
       
        <canvas #chartMensual></canvas>

      </ion-card-content>
   </ion-card>
</ion-content>
